.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;
    gap: 25px;

    margin-bottom: 5%;
}
